@model IEnumerable<MeuprimeiroMvc.Models.Aluno>
@{
    ViewData["Title"] = "Listar Alunos";
}

<h1>Alunos: </h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Matrícula</th>
        </tr>
    </thead>

    <tbody>
        <!-- -->
        @foreach (var aluno in Model)
        {
            <tr>
                <td>@aluno.AlunoId</td>
                <td>@aluno.Nome</td>
                <td>@aluno.Email</td>
                <td>@aluno.RM</td>
            </tr>
        }
    </tbody>
</table>